@page
@model Monappoly_ASP.Pages.MonopolyDefaults

@{
    ViewData["Title"] = "Trying to Modify Monopoly Defaults?";
}

<div class="container-60">
    <h1 class="page-title">@ViewData["Title"]</h1>
    <p>
        Some objects are from the original monopoly game and cannot be modified or deleted.
        <br/>
        Here is a list of what objects you can't touch!
    </p>
    <ul class="list-group">
        <li class="list-group-item">
            Add to, modify, or delete the default monopoly card deck.
        </li>
        <li class="list-group-item">
            Modify or delete any cards in the default monopoly card deck.
        </li>
        <li class="list-group-item">
            Modify or delete default monopoly card types.
        </li>
        <li class="list-group-item">
            Add to, modify, or delete the default monopoly board.
        </li>
    </ul>
</div>