@model MonappolyLibrary.GameModels.Cards.CardActions.Property.MortgagePropertyAction

<form method="post" asp-controller="CardAction" asp-action="MortgagePropertyAction" id="form">
    <input asp-for="GroupId" id="group-id" type="hidden"/>
    
    
</form>