@using Microsoft.AspNetCore.Mvc.TagHelpers
@using MonappolyLibrary.Extensions
@using MonappolyLibrary.GameModels.Enums
@model MonappolyLibrary.GameModels.Cards.CardActions.Property.MortgagePropertyAction

<form method="post" asp-controller="CardAction" asp-action="MortgagePropertyAction" id="form">
    <input asp-for="GroupId" id="group-id" type="hidden"/>
    <div class="mb-3">
        <label asp-for="TurnLength" class="form-label"></label>
        <input asp-for="TurnLength" class="form-control"/>
        <span asp-validation-for="TurnLength" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Player" class="form-label"></label>
        <select asp-for="Player" asp-items="ObjectPlayer.CurrentPlayer.GetSelectList()" class="form-select"></select>
        <span asp-validation-for="Player" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="PropertyCount" class="form-label"></label>
        <input asp-for="PropertyCount" class="form-control"/>
        <span asp-validation-for="PropertyCount" class="text-danger"></span>
    </div>
    <div class="mb-3 form-check form-switch">
        @if (Model.IsSet)
        {
            <input asp-for="IsSet" class="form-check-input" type="checkbox" id="is-set" checked/>
        }
        else
        {
            <input asp-for="IsSet" class="form-check-input" type="checkbox" id="is-set"/>
        }
        <label asp-for="IsSet" class="form-check-label" for="is-set"></label>
        <span asp-validation-for="IsSet" class="text-danger"></span>
    </div>
    <div class="mb-3 form-check form-switch">
        @if (Model.IsReceiveValue)
        {
            <input asp-for="IsReceiveValue" class="form-check-input" type="checkbox" id="is-val" checked/>
        }
        else
        {
            <input asp-for="IsReceiveValue" class="form-check-input" type="checkbox" id="is-val"/>
        }
        <label asp-for="IsReceiveValue" class="form-check-label" for="is-val"></label>
        <span asp-validation-for="IsReceiveValue" class="text-danger"></span>
    </div>
    <div class="mb-3 form-check form-switch">
        @if (Model.PayPenalty)
        {
            <input asp-for="PayPenalty" class="form-check-input" type="checkbox" id="is-pay" checked/>
        }
        else
        {
            <input asp-for="PayPenalty" class="form-check-input" type="checkbox" id="is-pay"/>
        }
        <label asp-for="PayPenalty" class="form-check-label" for="is-pay"></label>
        <span asp-validation-for="PayPenalty" class="text-danger"></span>
    </div>
</form>