@model MonappolyLibrary.GameModels.Cards.CardActions.Property.PurgePropertyAction

<form method="post" asp-controller="CardAction" asp-action="PurgePropertyAction" id="form">
    <input asp-for="GroupId" id="group-id" type="hidden"/>
    
    
</form>