@model MonappolyLibrary.GameModels.Cards.CardActions.Property.TakePropertyAction

<form method="post" asp-controller="CardAction" asp-action="TakePropertyAction" id="form">
    <input asp-for="GroupId" id="group-id" type="hidden"/>
    
    
</form>