@model MonappolyLibrary.GameModels.Cards.CardActions.Property.UnmortgagePropertyAction

<form method="post" asp-controller="CardAction" asp-action="UnmortgagePropertyAction" id="form">
    <input asp-for="GroupId" id="group-id" type="hidden"/>
    
    
</form>