@model MonappolyLibrary.GameModels.Cards.CardActions.Money.PayMoneyAction

<form method="post" asp-controller="CardAction" asp-action="PayMoneyAction" id="form">
    <input asp-for="GroupId" id="group-id" type="hidden"/>
    
    
</form>