@model MonappolyLibrary.GameModels.Cards.CardActions.Money.ReceiveMoneyAction

<form method="post" asp-controller="CardAction" asp-action="ReceiveMoneyAction" id="form">
    <input asp-for="GroupId" id="group-id" type="hidden"/>
    
    
</form>