@model MonappolyLibrary.GameModels.Cards.CardActions.Dice.DowngradeDiceAction

<form method="post" asp-controller="CardAction" asp-action="DowngradeDiceAction" id="form">
    <input asp-for="GroupId" id="group-id" type="hidden"/>

    
</form>