@model MonappolyLibrary.GameModels.Cards.CardActions.Dice.RerollDiceAction

<form method="post" asp-controller="CardAction" asp-action="RerollDiceAction" id="form">
    <input asp-for="GroupId" id="group-id" type="hidden"/>

    
</form>