@model MonappolyLibrary.GameModels.Cards.CardActions.Turn.ExtraTurnAction

<form method="post" asp-controller="CardAction" asp-action="ExtraTurnAction" id="form">
    <input asp-for="GroupId" id="group-id" type="hidden"/>
    
    
</form>