@page "{id}"
@model Monappoly_ASP.Pages.Objects.Cards.Upload

@{
    ViewData["Title"] = "Upload Cards";
}

<h1 class="page-title">Upload Cards</h1>

<div class="row">
    <div class="col-sm-5">
        <div class="card">
            <div class="card-header bg-success text-white">
                <h5 class="card-title">How to Upload Cards</h5>
            </div>
            <div class="card-body bg-light">
                <p>To upload cards you will need to follow these steps:</p>
                <ol>
                    <li>Open a blank Excel workbook.</li>
                    <li>
                        In the first column, first row, input: Text<br/>
                        <small>Note: this is case-sensitive.</small>
                    </li>
                    <li>
                        In the rows below input the text on the card. Each row represents a new card.<br/>
                        <small>Note: all cards in the Excel sheet <b>must</b> be of the same card type.</small>
                    </li>
                    <li>Save the workbook as a CSV UTF-8 (Comma delimited) file, with '.csv' at the end.</li>
                    <li>In the form on the right, select the card deck and card type.</li>
                    <li>Then attach the csv file you just saved and submit.</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="col-sm-7">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h5 class="card-title">Upload Cards</h5>
            </div>
            <div class="card-body bg-light">
                <form method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label asp-for="Input.CardDeckId" class="form-label"></label>
                        <select asp-for="Input.CardDeckId" asp-items="Model.CardDecks" class="form-control"></select>
                        <span asp-validation-for="Input.CardDeckId" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Input.CardTypeId" class="form-label"></label>
                        <select asp-for="Input.CardTypeId" asp-items="Model.CardTypes" class="form-control"></select>
                        <span asp-validation-for="Input.CardTypeId" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Input.UploadFile" class="form-label"></label><br/>
                        <small>Only .csv files are accepted.</small>
                        <input asp-for="Input.UploadFile" class="form-control"/>
                        <span asp-validation-for="Input.UploadFile" class="text-danger"></span>
                    </div>
                    <button class="btn btn-success mt-2" type="submit">Upload Cards</button>
                    <button class="btn btn-danger mt-2 mx-3" type="button" onclick="location.assign('/Objects/Cards/Index?deck=@(Model.Id)')">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>