@model MonappolyLibrary.GameModels.Cards.CardActions.BoardSpace.FreeParkingBoardSpaceAction

<form method="post" asp-controller="CardAction" asp-action="FreeParkingBoardSpaceAction" id="form">
    <input asp-for="GroupId" id="group-id" type="hidden"/>
    
    
</form>