@model MonappolyLibrary.GameModels.Cards.CardActions.BoardSpace.JailBoardSpaceAction

<form method="post" asp-controller="CardAction" asp-action="JailBoardSpaceAction" id="form">
    <input asp-for="GroupId" id="group-id" type="hidden"/>
    
    
</form>