@model MonappolyLibrary.GameModels.Cards.CardActions.BoardSpace.TaxBoardSpaceAction

<form method="post" asp-controller="CardAction" asp-action="TaxBoardSpaceAction" id="form">
    <input asp-for="GroupId" id="group-id" type="hidden"/>
    
    
</form>