@model MonappolyLibrary.GameModels.Cards.CardActions.Player.DiceNumberPlayerAction

<form method="post" asp-controller="CardAction" asp-action="DiceNumberPlayerAction" id="form">
    <input asp-for="GroupId" id="group-id" type="hidden"/>
    
    
</form>