@using Microsoft.AspNetCore.Mvc.TagHelpers
@using MonappolyLibrary.Extensions
@using MonappolyLibrary.GameModels.Enums
@model MonappolyLibrary.GameModels.Cards.CardActions.Player.TripleBonusPlayerAction

<form method="post" asp-controller="CardAction" asp-action="TripleBonusPlayerAction" id="form">
    <input asp-for="GroupId" id="group-id" type="hidden"/>
    <div class="mb-3">
        <label asp-for="Player" class="form-label"></label>
        <select asp-for="Player" asp-items="ObjectPlayer.All.GetSelectList()" class="form-select"></select>
        <span asp-validation-for="Player" class="text-danger"></span>
    </div>
    <div class="mb-3 form-check form-switch">
        @if (Model.IsReset)
        {
        <input asp-for="IsReset" class="form-check-input" type="checkbox" id="is-reset" checked/>
        }
        else
        {
        <input asp-for="IsReset" class="form-check-input" type="checkbox" id="is-reset"/>
        }
        <label asp-for="IsReset" class="form-check-label" for="is-reset"></label>
        <span asp-validation-for="IsReset" class="text-danger"></span>
    </div>
    <div class="mb-3 form-check form-switch">
        @if (Model.IsIncreased)
        {
        <input asp-for="IsIncreased" class="form-check-input" type="checkbox" id="is-increase" checked/>
        }
        else
        {
        <input asp-for="IsIncreased" class="form-check-input" type="checkbox" id="is-increase"/>
        }
        <label asp-for="IsIncreased" class="form-check-label" for="is-increase"></label>
        <span asp-validation-for="IsIncreased" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CostMultiplier" class="form-label"></label>
        <select asp-for="CostMultiplier" asp-items="@(ObjectMultiplier.Fixed.GetSelectList(true, "Fixed"))" class="form-select"></select>
        <span asp-validation-for="CostMultiplier" class="text-danger"></span>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="mb-3">
                <label asp-for="FixedCost" class="form-label"></label>
                <input asp-for="FixedCost" class="form-control"/>
                <span asp-validation-for="FixedCost" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="mb-3">
                <label asp-for="CustomMultiplier" class="form-label"></label>
                <input asp-for="CustomMultiplier" class="form-control"/>
                <span asp-validation-for="CustomMultiplier" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>