@model MonappolyLibrary.GameModels.Cards.CardActions.Player.TripleBonusPlayerAction

<form method="post" asp-controller="CardAction" asp-action="TripleBonusPlayerAction" id="form">
    <input asp-for="GroupId" id="group-id" type="hidden"/>
    
    
</form>