@page "{cardId}/{groupId}"
@using MonappolyLibrary.GameModels.Cards.CardActions.Money
@model Monappoly_ASP.Pages.Objects.Cards.Action.Edit.MoneyAction

@{
    Layout = "Shared/_ActionLayout";
    ViewData["Title"] = "Money Action";
    ViewData["CardId"] = Model.Card.Id;
    ViewData["GroupId"] = Model.GroupId;
}

<div class="mb-3">
    <label class="form-label">Move Action Type</label>
    <select asp-items="Model.Types" class="form-select" onchange="GetActionPartial(this, 'Money')"></select>
</div>
<div id="move-action">
    <partial name="Objects/Cards/MoneyAction/_BaseMoneyActionPartial" model="MoneyActionType.Pay"/>
</div>