@page "{cardId}/{groupId}"
@using MonappolyLibrary.GameModels.Cards.CardActions.Player
@model Monappoly_ASP.Pages.Objects.Cards.Action.Edit.PlayerAction

@{
    Layout = "Shared/_ActionLayout";
    ViewData["Title"] = "Player Action";
    ViewData["CardId"] = Model.Card.Id;
    ViewData["GroupId"] = Model.GroupId;
}

<div class="mb-3">
    <label class="form-label">Player Action Type</label>
    <select asp-items="Model.Types" class="form-select" onchange="GetActionPartial(this, 'Player')"></select>
</div>
<div id="move-action">
    <partial name="Objects/Cards/PlayerAction/_BasePlayerActionPartial" model="PlayerActionType.JailCost"/>
</div>